nav{
padding: 5px;
        color: white;

}
nav ul li{
padding: 15px;
    margin: 5px;
    border: 2px;
    border-radius: 10px;
    list-style-type: none;
background-color: grey;
display: inline;
}
nav ul{
text-align: center;
font-size: 1.2em;
    
}

nav ul li a {
color: white;
text-decoration: none;
}

body{
background-color: #669999;
text-decoration-color: white;
    color: white;
}
.center{
    
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}



header{
    padding: 10px;
    background-image: url(../images/Summer-Holiday-banner-George-Quinn-Stair-Parts-Plus-2017-2.jpg);
background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: white;
    border: 1px solid blue;
    background-color: black;
}
aside{
    border: .5px solid white;
    width: 18.5%;
    float: right;
    
    
    
}
asidel{
    
float: left;
    width: 18.5%;
    padding-top: 5%;
    border: .px solid white;
    
    
    
                
    
}

#content {
float: left;
width: 80%;
margin-right: 15px;
border: 1px solid grey;
    
}

footer{
clear: both;
    border: 1px solid orange;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    
    text-align: center;
    
}
aside ul li a {
    color: blue;
    text-decoration: none;
    
}
aside ul li {
list-style-type: none;
}
.col_detail {
column-count: 3;
column-rule: 1px solid white;
column-gap: 50px;
padding: 2px;
}
color {
background-color: black;
}
.main{
text-align: center;}

.column {
  float: left;
  width: 33.33%;
}
.video{
text-align: center;
align-content: center;}

.row{
text-align: center;
}

.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	
	background: #669999;
}

.booking-form {
	background-color: #fff;
	padding: 50px 100px;
    
	
	
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	
	
	color: #3e485c;
	font-size: 14px;
}




.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(62, 72, 92, 0.3);
	font-size: 14px;
}



.booking-form .form-label {
	
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
    align-content: center;
    
}

.booking-form .submit-btn {
	
	color: #fff;
	background-color: #669999;
	font-weight: 700;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
	
	
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

.booking-cta {
	
	
	margin-bottom: 30px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.booking-cta p {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
}


